$blackish: rgb(12,12,12);
$grayish: rgb(200,200,200);

body {
	background-color: $blackish;
	color:$grayish;
	font-size:14pt;
}

.callMaker {
	background-color:#ccc;
	color:#222;
	padding: 10px;
	margin:15px;

	&:hover {
		background-color: #fff;
		cursor: pointer;
	}
}

#heartrateGraph{
	width:180px;
	height:270px;
	background-image:url('assets/gradient.jpg');
	background-size: 180px 250px;
	background-repeat: no-repeat;
}